//Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corDeFundo: #F5F6FA;
$corCabecalho: #182C61;
$corFonteLink: white;
$corBotao: #44BD32;
$corHover: #4CD137;

//Breakpoints
$tablet: 1023px;
$mobile: 767px;